.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #4776e6; /* fallback for old browsers */
  background: linear-gradient(to right, #8e54e9, #4776e6);
}

.table-wrapper {
  border-collapse: collapse;
  border-radius: 0.5rem;
  height: 600px;
  width: 80%;
  overflow: scroll;
  display: list-item;
  /* display: grid; */
  background: white;
  border-radius: 16px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
}

.table-header__row {
  background: #8e54e9;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  text-align: left;
  position: sticky;
  top: 0;
}

.table-body__row {
  padding: 3rem;
}

th,
td {
  padding-block: 1rem;
  padding-inline: 2rem;
  color: #6614e9;
}

th {
  color: white;
}

td {
  cursor: pointer;
  font-size: 14px;
  font-weight: 300;
}
